html{
    background-color: #000000;
}
body{
    text-align: center;
    background-image: url(img/dad_whisper.jpeg);
    background-size:cover;
}
p{
    color: whitesmoke;
    width: 150px;
    margin: auto;
    margin-bottom: 100px;
}
